@backgroundColor: #000000;
@lightSecondaryColor: #FFBB00;
@darkSecondaryColor: #FF7700;
@highlightColor: #ffe9dd;

@titleBarHeight: 90px;
@menuPadding: 8px;

.page-content {
  width: 100%;
}

.title-bar {
  background-color: @backgroundColor;
  vertical-align: middle;

  color: @lightSecondaryColor;

  text-align: center;

  height: @titleBarHeight;


  .avatar {
    background: url("../images/claw.png") no-repeat center;
  }

  &.biog {
    border-bottom: 1px solid @lightSecondaryColor;
    display: inline-block;

  }

}

a {
  color: @lightSecondaryColor;
  text-decoration: none;

  &:hover {
    color: @backgroundColor;


  }
}

.talk-details {

  border: 1px solid black;
  margin: 8px 8px 8px 8px;
  padding: 2px 3px;

  .talk-cover {
    width: 90%;
  }

  .talk-title {
    padding: 2px 0;
  }

  p {
    text-align: justify;
  }

  img {
    float: left;
    display: inline-block;
    border: 1px solid black;

    margin: 2px 4px;
  }
  
  h2 {
    display: inline;
  }
  
  .talk-description {
    display: inline;    
  }

  ul {
    list-style: none;
    padding-left: 0.2em;
  }
}

.menu-item {
  background: @backgroundColor;
  text-align: center;
  border-bottom: 1px solid @lightSecondaryColor;

  font: 1em;
  line-height: 1em;
  padding: @menuPadding;

  &:hover {
    background: @lightSecondaryColor;
  }

}

.page-container {
  padding: 0 8px;
}

.biog-text, .biog-image {

  display: inline-block;
  float: left;

  .biog-pic {
    width: 95%;
  }

}

.biog-image {
  display: none;
}

.twitter-timeline {
  padding: 0;
  margin: auto;
}

.biog-pic-banner {

  width: 95%;
  text-align: center;
  margin: auto;

  .biog-pic-2 {
    width: 100%;
    height: 100%;

  }

  div {
    display: flex;
  }

}

@media screen and (min-width: 48em) {

  .menu-item {
    height: @titleBarHeight;
    line-height: @titleBarHeight;
    padding: 0;
  }

  body {
    background-color: #333333;
    align: center;
  }

  .page-content {
    width: 80%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
  }

  .page-details {
    padding-bottom: 8px;
  }

  .biog-image {
    display: inline-block;
  }

  .avatar {
    border-bottom: 1px solid @lightSecondaryColor;
  }

  .biog-pic-banner {
    display: none;

    img {
      height: 100% !important;
      display: inline-block;
      width: 100%;
    }
  }
}