.bg-color {
  background-color: #ff8100;
}
.menu-item {
  background: #ff8100;
  text-align: center;
}
.menu-item a {
  color: #004081;
}
.menu-item a:hover {
  background: #ffe9dd;
}
.menu-item a:active {
  background: #ffe9dd;
  color: #ff8100;
}
#circular-avatar {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../images/dave-s.png) no-repeat;
  margin: 15px 0 0 0;
  box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  -moz-box-shadow: 0 0 8px black;
}
