@backgroundColor: #000000;
@lightSecondaryColor: #FFBB00;
@darkSecondaryColor: #FF7700;
@highlightColor: #ffe9dd;

.title-bar {
  background-color: @backgroundColor;
  vertical-align: middle;

  color: @lightSecondaryColor;

  text-align: center;

  .avatar {
    height: 180px;
    background: url("../images/claw.png") no-repeat center;
  }

  &.biog {
    border-bottom: 1px solid @lightSecondaryColor;
    display: inline-block;
  }

}

.menu-item {
  background: @backgroundColor;
  text-align: center;
  border-bottom: 1px solid @lightSecondaryColor;

  a {
    color: @lightSecondaryColor;


    &:hover {
      background: @lightSecondaryColor;
      color: @backgroundColor;
    }

    &:active {
      background: @lightSecondaryColor;
      color: @backgroundColor;
    }
  }
}

@media screen and (min-width: 48em) {

  .menu-item {
    border: 0;
  }



  .avatar {
    border-bottom: 1px solid @lightSecondaryColor;
  }
}