.page-content {
  width: 10px;
}
.title-bar {
  background-color: #000000;
  vertical-align: middle;
  color: #ffbb00;
  text-align: center;
  height: 90px;
}
.title-bar .avatar {
  background: url("../images/claw.png") no-repeat center;
}
.title-bar.biog {
  border-bottom: 1px solid #ffbb00;
  display: inline-block;
}
.menu-item {
  background: #000000;
  text-align: center;
  border-bottom: 1px solid #ffbb00;
  font: 1em;
  line-height: 1em;
  height: 1em;
}
.menu-item:hover {
  background: #ffbb00;
}
.menu-item:hover a {
  color: #000000;
}
.menu-item a {
  color: #ffbb00;
  text-decoration: none;
}
@media screen and (min-width: 48em) {
  .menu-item {
    line-height: 90px;
  }
  .avatar {
    border-bottom: 1px solid #ffbb00;
  }
}
