@backgroundColor: #FF8100;
@lightSecondaryColor: #FFB300;
@darkSecondaryColor: #004081;
@highlightColor: #ffe9dd;

.title-bar {
  background-color: @backgroundColor;
  vertical-align: middle;

  border-bottom: 1px solid @darkSecondaryColor;
  text-align: center;

}

.menu-item {
  background: @backgroundColor;
  text-align: center;
  border-bottom: 1px solid @darkSecondaryColor;

  a {
    color: @darkSecondaryColor;


    &:hover {
      background: @highlightColor;
    }

    &:active {
      background: @highlightColor;
      color: @backgroundColor;
    }
  }
}

@media screen and (min-width: 48em) {

  .menu-item {
    border: 0;
  }
}